# Ignore all .env files
**/.env

# Ignore sendEmail files
**/sendEmail.js

# Ignore build artifacts and system files
node_modules/
.DS_Store
.vscode/

# Ignore accidental extra files
frontend/package-lock 3.json
frontend/package-lock 4.json

# Optional: ignore entire folders
backend/utils/
backend/scripts/